html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding:0px;
    font-size: 1rem;
    background-image: url("media/background.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    background-attachment: fixed;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-height: 100vh;
}

#title{
    height: 100vh; /* You must set a specified height */
    display: flex;
    justify-content: center;
    align-items: center;
}

#titlecard a{
    color:#ffcb48;
    text-decoration: none;
}

#titlecard h1{
    text-align: center;
    margin:0;
    padding:0;
    font-size: 6rem;
    font-family: "Georgia";
    font-weight: 600;
    font-style: normal;
    text-shadow: 2px 2px #ff5620, 5px 5px 5px black;
}

#subtitle h2{
    text-align: center;
    font-size: 2rem;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color:#ffcb48;
    text-shadow: 2px 2px 4px black;
}

#contents{
    padding: 4% 5%;
    width:60%;
    margin:auto;
}

#contents div h2{
    text-align: center;
    margin:0;
    padding:0 0 30px 0;
    font-size: 4rem;
    font-family: "Georgia";
    font-weight: 600;
    font-style: normal;
    color:#ffcb48;
    text-shadow: 2px 2px #ff5620, 5px 5px 5px black;
}

#contents div h3{
    text-align: center;
    margin:0;
    padding:30px 0 10px 0;
    font-size: 3.5rem;
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#housing h3{
    border-top: #36311c 3px dotted;
}

#contents div{
    padding: 5% 15%;
    background-color: #b7aa90cf;
    color: #36311c;
    margin-bottom: 5%;
    font-size: 2rem;
}

#housing table{
    padding-bottom: 20px;
}

#housing table tr td{
    padding: 5px 15px;
}

#food ul li{
    padding: 10px;
}

@media screen and (max-width: 500px) {
    #titlecard h1{
        font-size: 4rem;
    }

    #contents div{
        padding: 2% 5%;
        margin-bottom: 12%;
    }

    #contents div h2{
        font-size: 3rem;
        padding:0 0 10px 0;

    }
    #contents{
        padding: 2% 3%;
        width:80%;
        margin:auto;
    }
    #contents div h3{
        font-size: 2.5rem;
    }

    #contents div p{
        font-size: 1.2rem;
    }

    #contents div ul{
        font-size: 1.2rem;
    }

    #housing table{
        font-size: 1.2rem;
    }
  }