/*Universal Selectors*/
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/*Grid Formatting*/
#grid{
    display:grid;
    grid-template-columns: 25vw 1fr 1fr 1fr 25vw;
    font-family: 'Dosis', sans-serif;
    font-size:25px;
}

/*Content Formatting*/
#content{
    background-color: white;
    padding: 0px 75px;
    grid-column: 2/span 3;
}

#content h2{
    text-align: center;
    margin: 50px 0px 35px 0px;
}

/*Form CSS*/
form {
    width: 85%;
    /* To see the outline of the form */
    padding: 1em;
}

form div + div {
    margin-top: 1em;
}
  
label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: inline-block;
    width: 15%;
    text-align: right;
}
  
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* To give the same size to all text fields */
    width: 100%;
    box-sizing: border-box;
  
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;

    font-family: 'Dosis', sans-serif;
}
  
input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
}
  
textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
  
    /* To give enough room to type some text */
    height: 8rem;

    font-family: 'Dosis', sans-serif;
}

/*Form Input*/
#mainForm{
    border: 1px solid #CCC;
    border-radius: 1em;
    margin: 6% 0%;
    width:20vw;

}

#contactInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mainForm button {
    padding: 2% 4%;
    text-align:center;
    border-radius: 2em;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

#mainForm button:hover{
}

#mainForm button{
    width: 100%;
}

#mainForm textarea{
      width: 100%;
}

/*HOME CSS*/
/*Home Page CSS*/
#title{
    grid-column: 1/ span 5;
    height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#titleBox p{
    font-size: 4rem;
    font-family: 'Dosis', sans-serif;
    margin: 10px 0px 10px 0px;
    font-style: italic;
}

#titleBox{
    width: 80%;
    margin:auto;
    text-align:center;
    color:white;
    font-family: 'Yellowtail', sans-serif;
    margin-top: 20vh;
    padding: 8vh 0px 4vh 0px;  
}

#titleBox span{
    font-size: 12rem;
}

#titleBox img{
    padding-top: 10px;
    margin-top: 5vh;
    max-height:50px;
}

#welcome{
    position: absolute;
    top: 95vh;
}

button:hover{
    cursor: pointer;
    font-weight:bold;
}

.lineBreak{
    margin: 50px 0px;
}

.projectImage{
    display: flex;
    align-items: center;
    flex-direction:column;
}

.projectImage img{
    width:90%;
    margin: 10px 0px;
}

.projectDesc{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projectDesc h3{
    margin:0;
    padding:0;
    
}

.projectDesc p{
    margin: 25px 0px 0px 0px;
    padding:0;
}

.projectBreak{
    grid-column: span 2;
    border-bottom: 3px dotted #2057ec;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

#talkShop div ul li{
    margin-bottom: 2%;
}

#projectsGrid{
    display: grid;
    grid-template-columns: 500px 1fr;
}

/* Socials */
#socials{
    text-align: center;
}

.fa-linkedin{
    color: #0077b5;
}

.fa-twitter{
    color: #38A1F3;
}

.fa-github{
    color: #5e1ed4;
}

#resume{
    padding: 2% 4%;
    width: 60%;
    border-radius: 2em;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}

#socials h2{
    margin-top:110px;
}

#social{
    display:flex;
    justify-content: center;
    margin: 5%;
}

#social a{
    margin:0px 25px;
}



/* Media Queries */
@media (max-width: 2400px){
    #grid{
        grid-template-columns: 10vw 1fr 1fr 1fr 10vw;
        font-size:25px;
    }

    #projectsGrid{
        grid-template-columns: 400px 1fr;
    }
    
}

@media (max-width: 1900px){
    #grid{
        grid-template-columns: 5vw 1fr 1fr 1fr 5vw;
        font-size:25px;
    }

    #projectsGrid{
        grid-template-columns: 1fr 2fr;
    }

    #mainForm {
        width: 40vw;
    }



    

}

@media (max-width: 1600px){
    #grid{
        grid-template-columns: 0px 1fr 1fr 1fr 0px;
        font-size:28px;
    }

    #projectsGrid{
        grid-template-columns: 1fr 1fr;
    }

}


@media (max-width: 1300px){
    #grid{
        grid-template-columns: 0px 1fr 1fr 1fr 0px;
    }

    #projectsGrid{
        display: block;
    }

    .projectImage{
        display: flex;
        align-items: center;
    }
    
    .projectImage img{
        max-width: 800px;
    }

    /* Removing excess images on smaller screens */
    .projImg{
        display: none;
    }

    #content {
        padding: 0px 150px;
    }

    .projectDesc h3 {
        margin: 20px 0px;
    }

    /* Bumping socials into two full width columns on smaller screens */
    #contactInfo{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
    }

    #mainForm {
        width:60vw;
        margin:auto;
    }

    #resume{
        margin-bottom:100px;
        padding: 2% 4%;
        width: 60vw;
        font-size: 32px;
    }

    #mainForm button {
        font-size: 32px;
    }
}

@media (max-width: 1000px){
    #grid{
        font-size:32px;
    }

    #content {
        padding: 0px 100px;
    }

}

@media (max-width: 600px){


    #content {
        padding: 20px;
    }

    #titleBox span{
        font-size: 8rem;
    }

    #mainForm {
        max-width:100vw;

    }

    #resume{
        margin:40px 0px 100px 0px;
    }

    #titleBox {
        margin-top: 2vh;
    } 

    #social a {
        margin: 0px 10px;
    }

    #title{
        height: 75vh;
    }

    #titleBox p{
        font-size: 2rem;
    }
}
