html{
    scroll-behavior: smooth;
}

/* Photo by <a href=Oscar Keys on Unsplash*/ 
body{
    margin:0;
    padding:0;
    background-color: #242a36;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    background-image: url("media/oscar-keys-10sTDZAj5sA-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
    position: fixed;
    top:0;
    left:0;
    width:90vw;
    margin: 2vw 5vw;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

nav ul{
    margin:0;
    padding:0;
    text-decoration: none;
}

nav ul li{
    display: inline;
    margin-left: 25px;
}

nav ul li a{
    text-decoration: none;
    color:white;
}

nav ul li a:hover{
    color:rgb(66, 218, 245);
}

header{
    text-align: center;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vw 0 8vw 0;
}

#intro{
    text-align: center;
}

#intro p{
    text-align: center;
    width:46vw;
    
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vw;
}

#whitewater h2{
    margin: 0;
    padding:0;
}

#whitewater p{
    margin:0;
    padding:0;
}

#projectGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    
}


#about{
    text-align: center;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vw;
}

#aboutSubsection{
    text-align: left;
    width:46vw;
    background-color: #242a36be;
    padding:50px;
    border-radius: 50px;
}


#aboutSubsection p{
    margin: 0 1vw;
}

#resume{
    text-align: center;
    margin: 5vh 0 2vh 0;
}

#resume a{
    background-color: white;
    color: #242a36;
    font-weight: bold;
    text-decoration: none;
    padding:15px;
    border-radius: 50px;
}

#resume a:hover{
    color:rgb(66, 218, 245);
    background-color: white;
}