#title, #sectionTitle{
    background-image: url('../../background.svg');
    text-shadow: #0077aa 2.5px 2.5px;
    background-color: #0077aa;
}

body{
    background-color: rgb(200, 255, 255);    
}

#navbarDiv, #footer{
    background-color: #0077aa;
}

#formButton, #resume, .active{
    background-color: #0099cc;
}

#formButton:hover, #resume:hover, .active:hover{
    background-color: #0077aa;
}

i:hover{
    color: #3fb5f4;
}

