#title, #sectionTitle{
    background-image: url('../../backgroundEvening.svg');
    text-shadow: none;
    background-color: #0022aa;
}

body{
    background-color: rgb(180, 200, 255);    
}

#navbarDiv, #footer{
    background-color: #0022aa;
}

#formButton, #resume, .active{
    background-color: #0044cc;
}

#profile{
    background-color: #0022aa;
    border: 5px solid #0044cc;
}

.link{
    color: #0022aa;
}

.link:visited{
    color: #000827;
    text-decoration: none;
}

.link:hover{
    color: #0044cc;
}

#formButton:hover{
    color: #0044cc;
}

i:hover{
    color: #0044cc;
}

#mobileNav{
    background-color: #000827;
}