#title, #sectionTitle{
    background-image: url('../../sunrise.svg');
    text-shadow: #a291ff 2.5px 2.5px;
    background-color: #a291ff;
}

#navbarDiv, #footer{
    background-color: #a291ff;
}

#formButton, #resume, .active{
    background-color: #bda1ff;
}

#formButton:hover, #resume:hover, .active:hover{
    background-color: #a291ff;
}

#profile{
    background-color: #bda1ff;
    border: 5px solid #a291ff;
}

.link{
    color: #a291ff;
}

.link:visited{
    color: #5334ff;
    text-decoration: none;
}

i:hover{
    color: #bda1ff;
}

#mobileNav{
    background-color: #5334ff;
}