#title, #sectionTitle{
    background-image: url('../../sunsetBackground.svg');
    text-shadow: #96003c 2.5px 2.5px;
    background-color: #96003c;
    opacity: 90%;
}

body{
    background-color: rgb(255, 202, 221);    
}

#navbarDiv, #footer{
    background-color: #96003c;
}

#formButton, #resume, .active{
    background-color: #D20055;
}

#formButton:hover, #resume:hover, .active:hover{
    background-color: #96003c;
}

#profile{
    background-color: #D20055;
    border: 5px solid #D20055;
}

.link{
    color: #96003c;
}

.link:visited{
    color: rgb(97, 0, 39);
    text-decoration: none;
}

i:hover{
    color: #D20055;
}

#mobileNav{
    background-color: #96003c;
}

