html{
    scroll-behavior: smooth;
    font-size: 1rem;
    margin:0;
    padding:0;
    color:#616161;
}

@font-face{
    font-family: CooperBook;
    src: url(media/fonts/CooperHewitt-Book.otf);
         
}

@font-face{
    font-family: CooperBold;
    src: url(media/fonts/CooperHewitt-Medium.otf);
}

/* General Formatting */
a{
    color:#616161;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline;
}

body{
    margin: 0;
    padding: 0;
    font-family: CooperBook, sans-serif;
}

/* nav bar formatting */
#navbar h1{
    color: #f67280;
    padding:0px 0px 0px 75px;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
}

#navbar h2{
    padding:0px 0px 0px 75px;
    margin: 0;
    font-size: 0.8rem;
}

#navbar{
    position: fixed;
    top:0px;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
    margin:0px auto;
    background-color: white;
    z-index: 2;
}

#navbar ul{
    padding:0px 75px 0px 0px;
    list-style-type: none;
}

#navbar ul li{
    display: inline;
    margin-left:30px;
}

#navbar ul li a{
    text-decoration: none;
}

#navbar ul li:hover{
    border-bottom: 3px solid #616161;
    transition-duration: 0.2s;
    cursor: pointer;
}

#active{
    color:black;
    font-family: CooperBold;
}

/* Wrong Cat Page */

#cats{
    display: grid;
    width: 90vw;
    padding-top: 120px;
    margin: 0px auto;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 25px;

}

#cats img{
    width:100%;
    text-align: center;
    padding:5px;
}

#cats img:hover{
    background-color: #f67280;
    cursor: pointer;
    transition-duration: 0.3s;
}

/* On Hover Image Select Formatting */
#featureBackground{
    z-index: -1;
    opacity: 0;
    position: fixed;
    top:0px;
    left:0px;
    width:99vw;
    height:100vh;
    transition-duration: 0.2s;
    background-color: white;
    text-align: center;
}

#featuredImage{
    margin-top:15vh;
    width:75%;
}

#featureBackground p{
    margin-top: 0px;
}

#leave{
    display:none;
    width:20px;
    position: fixed;
    top: 4vh;
    right: 10vh;
}


/* About Page */
#about{
    width:90vw;
    height:100vh;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about img{
    width:50%;
}

#bio{
    width:40%;
    text-align: center;
}

#bio p{
    padding-bottom: 15px;
    line-height: 25px;
}

#sansFont{
    font-family: 'Open Sans', sans-serif;
}

#pink{
    color: #f67280;
    font-family: 'Open Sans', sans-serif;
}

#bio i{
    font-weight: lighter;
    font-size: 0.9rem;
    color:#bbb;
}

#social{
    padding-left: 0px;
}

#social li img{
    padding: 0px 25px;
    width:32px;
}

/* Store Page */
#productScroll{
    width:90vw;
    margin: 40vh auto 0px auto;
    overflow: auto;
    white-space: nowrap;
    background: #f9f9f9;
}

#productScroll img{
    padding:0px;
    height:60vh;
}

#grid{
    height: 60vh;
    display:flex;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f67280;
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4414f;
}

#shopLink{
    text-align: right;
    margin: 25vh 10vh 0px 0px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
}

#shopLink h1 a{
    text-decoration: none;
}

#shopLink h1 a:hover{
    color:black;
    font-weight: bold;
}




#mobileMenu{
    display:none;
}

#leave:hover{
    cursor: pointer;
}

#featureBackground p i{
    font-style: normal;
}

#featureBackground p i:hover{
    font-weight:bold;
    color:black;
    cursor: pointer;
}

#mobileHeader{
    display: none;
}

#mobileNavbarLinks{
    position: fixed;
    top:0;
    left:0;
    font-size: 1.3rem;
    width:100%;
    margin:0;
    padding-top: 10px;
    background-color: white;
    display:none;
}

#mobileNavbarLinks li{
    padding:10px;
    display: block;
}

/*Weird About Page Scaling Fixes*/
@media screen and (max-width:1065px){
    #about{
        flex-wrap: wrap;
    }

    #about img{
        width:70vw;
        margin:150px auto 20px auto;
    }

    #bio{
        margin:auto;
        width:70vw;
    }

    #social{
        margin-top:-175px;
    }
}


/*Tablet Resolution*/
@media screen and (max-width:861px){

    /*nav bar changes*/
    #navbar ul li{
        display: block;
        text-align: right;
    }

    /* featured image changes */
    #featuredImage{
        margin-top: 25vh;
        width:95%;
    }

    #cats{
        margin-top: 20px; 
        grid-gap: 20px;
    }

    

}


/*Phone Resolution*/
@media screen and (max-width:635px){

    #navbar{
        display: none;
    }

    #mobileHeader{
        display: flex;
        height:100vh;
        width:100vw;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    #mobileMenu{
        position: fixed;
        top:10px;
        right:10px;
        display:block;
        text-align: right;
        height:40px;
        z-index: 2;
    }

    #mobileHeader h1{
        margin-top:170px;
        color: #f67280;
        font-size: 2.5rem;
        width:90%;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: 3px;
    }

    #mobileHeader h2{
        margin-top:-100px;
        padding:0px 50px;
        font-size: 1.1rem;
        width:70%;
        text-align: center;
    }

    #mobileHeader img{
        margin-top:-120px;
        width:40px;
    }

    #navbarLinks{
        display: none;
    }

    #cats{
        margin-top:0px;
        padding-top: 50px;
        width:100%;
    }

    #cats img{
        padding:0px;
    }
    
    #about img{
        width:90vw;
        margin:20px auto 20px auto;
    }

    #bio{
        width:90vw;
    }

    #social{
        margin-top: -40px;
    }

}