html{
    /*scroll-behavior: smooth;*/
    font-size: 1rem;
    margin:0;
    padding:0;
    color:#616161;
    font-family: CooperBook, sans-serif;
}

@font-face{
    font-family: CooperBook;
    src: url(media/fonts/CooperHewitt-Book.otf)
}

a{
    color:#616161;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline;
}

body{
    margin: 0;
    padding: 0;
}

#navbar h1{
    color: #f67280;
    padding:0px 0px 0px 75px;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
}

#navbar h2{
    padding:0px 0px 0px 75px;
    margin: 0;
    font-size: 0.8rem;
}

#navbar{
    position: fixed;
    top:0px;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
    margin:0px auto;
    background-color: white;
    z-index: 2;
}

#navbar ul{
    padding:0px 75px 0px 0px;
    list-style-type: none;
}

#navbar ul li{
    display: inline;
    margin-left:30px;
}

#navbar ul li a{
    text-decoration: none;
}

#navbar ul li:hover{
    border-bottom: 3px solid #616161;
    transition-duration: 0.2s;
    cursor: pointer;
}

#active{
    color:black;
    font-weight: bold;
}

#cats{
    display: flex;
    width: 90vw;
    padding-top: 95px;
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cats img{
    margin-top:25px;
    height:235px;
    text-align: center;
    padding:5px;
}

#cats img:hover{
    background-color: #f67280;
    cursor: pointer;
    transition-duration: 0.3s;
}

/* About Page */
#about{
    width:90vw;
    height:100vh;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about img{
    width:50%;
}

#bio{
    width:40%;
    text-align: center;
}

#bio p{
    padding-bottom: 15px;
    line-height: 25px;
}

#sansFont{
    font-family: CooperBook, sans-serif;
}

#pink{
    color: #f67280;
}

#bio i{
    font-weight: lighter;
    font-size: 0.9rem;
    color:#bbb;
}

#social li img{
    padding: 0px 25px;
    width:32px;
}

/* Store Page */
#productScroll{
    width:90vw;
    margin: 40vh auto 0px auto;
    overflow: auto;
    white-space: nowrap;
    background: #f9f9f9;
}

#productScroll img{
    padding:0px;
    height:60vh;
}

#grid{
    height: 60vh;
    display:flex;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f67280;
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d4414f;
}

#shopLink{
    text-align: right;
    margin: 25vh 10vh 0px 0px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
}

#shopLink h1 a{
    text-decoration: none;
}

#shopLink h1 a:hover{
    color:black;
    font-weight: bold;
}


#featureBackground{
    z-index: -1;
    opacity: 0;
    position: fixed;
    top:0px;
    left:0px;
    width:99vw;
    height:100vh;
    transition-duration: 0.2s;
    background-color: white;
    text-align: center;
}

#featuredImage{
    margin-top:15vh;
    width:75%;
}

#featureBackground p{
    margin-top: 0px;
}

#leave{
    display:none;
    width:20px;
    position: fixed;
    top: 4vh;
    right: 10vh;
}

#leave:hover{
    cursor: pointer;
}

#featureBackground p i{
    font-style: normal;
}

#featureBackground p i:hover{
    font-weight:bold;
    color:black;
    cursor: pointer;
}

