body{
    margin:0;
    padding:0;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color:white;
}

#grid{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    background-color: #333;
    
}

#title{
    grid-column: 1/span 5;
    background-image: url("backgroundImage.jpg"); /* The image used */ /* Used if the image is unavailable */
    height: 100vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

h1{
    font-family: 'Cute Font', cursive;
    font-size: 12rem;
    color:#770000;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin:auto;
}

#navbar{
    position:fixed;
    top: 0;
}